.main-wrapper {
  display: flex;
  justify-content: center;
}

.main-content {
  min-width: 320px;
  max-width: 700px;
  margin-right: 5px;
  margin-left: 5px;
}

.profile-picture {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
